@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --fonte-size-primaria: 2.25rem;
    --fonte-size-secundaria: 1.5rem;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-size-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__about {
    width: 615px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-size-primaria);
}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-size-secundaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-size-secundaria);
}

.apresentacao__conteudo__lista {
    columns: 2;
    list-style-type: none;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-size-secundaria);
    line-height: 1.5em;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-size-secundaria);
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--fonte-size-secundaria);
    width: 50%;
    padding: 22px 0px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    border: 4px solid var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-size-secundaria);
    font-weight: 400;
    padding: 23.64px;
    text-align: center;
}

@media (max-width: 1150px) {

    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}